@import "tailwindcss";

/* hide scrollbar in Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* WebKit */
}

/* Firefox */
.no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE & Edge */
}